<!DOCTYPE html>
{% load static %}
<html>
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <title>Registrate</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="{% static 'styles/menu.css' %}"/>
                <link rel="stylesheet" href="{% static 'styles/main.css' %}"/>
                <link rel="stylesheet" href="{% static 'styles.css' %}"/>
                <link href="https://file.myfontastic.com/F3EYbr2mgJRrppNqNEXyEM/icons.css" rel="stylesheet">
            </head>
            <body>
                    <div class="menu-container">
                        <a id="ref" href="{% url 'index' %}"><span class="icon-shop"></span></a>
                        <label id="btn-menu" class="icon-bars"></label>
                        <nav id="navegador"> 
                        <ul>    
                        <h1>Tienda Online</h1>
                        {% if user.is_authenticated %}
                        <p>Bienvenido! {{ user.username }}
                                <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                        {% else %}
                                <li><a href="{% url 'signup' %}">Registrate</a></li>
                                <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
                        {% endif %}
                        </ul>
                        </nav>
                    </div>
            </body>        
</html>