<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DetalleProducto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/menu.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/login.css' %}"/>
        <link href="https://file.myfontastic.com/F3EYbr2mgJRrppNqNEXyEM/icons.css" rel="stylesheet">
    </head>
<body>

  <div class="login-container">
    <div class="titulo">
        <h2>Sign up</h2>
    </div>
    <div class="item-list">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="login-button">
              <button type="submit">Sign up</button>
          </div>
          
        </form>
    </div>
    
  </div>

</body>