body
{
    background-color: rgba(119, 178, 206);
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    padding: 0;
    padding-top: 110px;
    box-sizing: border-box;
}

.contenedor-detalle
{
    display: flex;
    flex-direction: column;
}

.item-list-img img
{
    max-width: 650px;
    max-height: 650px;
    margin: 30px;
}

.item-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1b97b6;
    box-shadow:2px 2px 2px 2px #21758a;
    margin: 15px;
    justify-content: center;
    padding: 10px;
}

.item-list-info
{
    text-align: center;
    align-items: center;
    font-size: 24px;
    background: rgba(255, 255, 255, .6);
    padding: 20px;
    width:50%;
}

@media screen and (max-width:700px) 
{
    .item-list-img img
    {
        max-width: 250px;
        max-height: 250px;
    }
}