.menu-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #175261;
    height: 100px;
    align-items: center;
    position: fixed;
    z-index: 100;
    top:0;
}

.icon-paw
{
    padding-left: 10px;
    width: 45px;
    height: 45px;
    font-size: 50px;
    text-shadow: white 20%;    
    text-decoration: none;
    color: white; 
    display: block;
    margin-left: 10px;
}

.icon-bars
{
    color: white;
    width: 45px;
    height: 45px;
    font-size: 45px;
    margin-right: 5px;
    cursor: pointer;
}

#ref
{
    text-decoration: none;
}

nav
{
    list-style: none;
    position: absolute;
    top:100px;
    width: 100%;
    text-align: center;
    left: -130%;
    transition: 1s all;
    min-height: 100vh;
}

#navegador ul
{
    list-style: none;
    margin: 0 !important;
    width: 100%;
}

.item-link
{
    color: white;
    background:#21758a;
    text-decoration: none;
    padding: 24px;
    display: block;
    width: 100% !important;
    border-bottom: 1px solid rgba(255,255,255,.4);
}

.item-link:hover
{
    background:#38b8d8;
}

.mover
{
    transition: 1s all;
    left: -12%;
}

@media screen and (min-width:1050px)
{
    .icon-bars
    {
        display: none
            
    }
    .menu-container
    {
       align-items: center;
    }
    nav
    {
        position: static;
        width: auto;
        min-height: auto;
    }
    nav ul
    {
        display: flex;
    }
    .item-link
    {
        padding: 21.2px;
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 0;
        box-sizing: border-box;
    }
  
    .item-link:hover
    {
        background:rgba(255,255,255,.3);
        border-bottom: 3px solid rgb(38, 84, 168);
    }

}